version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    groups:
      astro:
        patterns:
          - "astro"
          - "@astrojs/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react*"
      keystatic:
        patterns:
          - "@keystatic/*"
      dev-dependencies:
        dependency-type: "development"
        patterns:
          - "*"
